<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>

<div class="container-fluid">

    <div class="col-md-4 col-md-offset-4">

        <form method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="input username" name="username">
              </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="input Password" name="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">登陆</button>
                <a class="btn btn-default pull-right" href="/register/">注册</a>
            </div>
        </form>

    </div>

</div>

<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>